.DS_Store
.idea/
.local.*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

*.log